<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Budget Buddy{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='50%' font-size='90' dy='.35em'>💰</text></svg>"
        type="image/svg+xml">

    {% load static %}
    <link href="{% static 'css/styles.css' %}?v={% now 'U' %}" rel="stylesheet">
    <script src="{% static 'js/dependencies/htmx/htmx.min.js' %}"></script>
    <style>
        
    </style>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>