{% extends 'autentication/index.html' %}

{% block content %}


<title>{% block title %}Login - Budget Buddy{% endblock %}</title>

<div class="bg-base-100 shadow-sm bg-blend-lighten flex justify-center items-center h-screen border border-gray-300">

    <div class="p-4">
        <h2 class="card-title content-center">Budget Buddy</h2>

        <form id="loginForm" hx-post="/home_page/" hx-target="#mainPage" hx-swap="innerHTML">
            {% csrf_token %}
            <div>
                <!-- Username -->
                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <input type="text" class="grow" placeholder="Username" name="username" />
                </label>

                <!-- Password -->
                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <input type="password" class="grow" placeholder="Password" name="password" />
                </label>

                <div class="mt-4 grid grid-cols-2 gap-4 self-center">
                    <button class="btn btn-neutral btn-md" type="submit" href="/home_page">Login</button>
                    <a class="btn btn-md float-right" href="{% url 'register' %}">
                        Register
                    </a>
                </div>
            </div>
        </form>
    </div>


</div>

{% endblock %}