{% extends 'autentication/index.html' %}

{%block content%}
<title>{% block title %}Register - Budget Buddy{% endblock %}</title>

<div class="bg-base-100 shadow-sm bg-blend-lighten flex justify-center items-center h-screen border border-gray-300">
    <div class="p-2 justify-center items-center">
        <h3 class="card-title align-middle mx-auto">Create an account</h3>

        <form method="POSt" action="{% url 'register_user'%}">
            {% csrf_token %}

            <div id="newUserDetails">

                <!-- Email -->
                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <input type="email" class="grow" placeholder="Email" name="email" required />
                </label>

                <!-- Username -->

                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <span class="" id="usernameCheck"></span>

                    <input type="text" class="grow" placeholder="Username" hx-get="/check_username"
                        hx-trigger="keyup delay:300ms" hx-target="#usernameCheck" hx-target-403="#errorMessage"
                        hx-swap="innerHTML" name="username" required />

                    <span class="" id="errorMessage"></span>

                </label>

                <!-- Password -->
                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <input type="password" class="grow" placeholder="Password" name="password" required />
                </label>

                <!-- Confirm Password -->
                <label class="input input-md  input-bordered flex items-center gap-2 mt-2">
                    <input type="password" class="grow" placeholder="Confirm password" required />
                </label>


                <div class="mt-4 grid grid-cols-1 gap-4 self-center justify-center">
                    <button class="btn btn-neutral btn-md" type="submit">Sign Up</button>

                    <div class="mx-auto"><a class="link-primary" href="/">Login</a></div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}