<title>{% block title %}- Budget 💰{% endblock %}</title>



<div class="justify-normal">
    <button class="btn btn-neutral justify-center p-2 m-2" onclick="my_modal_3.showModal()">New Budget</button>
</div>

<dialog id="my_modal_3" class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click on ✕ button to close</p>
    </div>
</dialog>


<div class="card w-96 glass">
    <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="car!" /></figure>
    <div class="card-body">
        <h2 class="card-title">Monthly Budget</h2>
        <p>From 01 March 2024 until 30 March 2024</p>
        <div class="card-actions justify-center">
            <button class="btn btn-primary">Update</button>
        </div>
    </div>
</div>